{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "object-curly-newline": ["error", { "multiline": true }],
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off"
  }
}